* {
  margin: 0;
  padding: 0;
}

body {
  background-color: goldenrod;
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: .3em;
}


/* ------APP------ */

.container {
  display: flex;
  justify-content: space-between;
}

/* compteur */
.compteur , h2{
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;

}
.nbrCookie {
  font-size: 24px;
}


/* cookie */
.cookie {
  width: 40%;
  border-right: 2px solid red;
  cursor: pointer;
  background-color: firebrick;
}

img {
  width: 40vh;
  display: block;
  transition: width 200ms;
}


.image {

  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* store */
.store {
  width: 40%;
  background-color: firebrick;
  color:white;
  border-left: 2px solid red;
}

.buy {
  display: flex;
  border:2px solid black;
  cursor: pointer;
  user-select: none;
}

.buy:hover {
  border: 5px solid black;
}

.emoji {
  width: 20%;
  font-size: 3em;
  text-align: center;

}

.information {
  width: 40%;
}

.perSecond {
  width: 20%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.4em;
}

.niveau {
  width:20%;
}
.cost {
  color:chartreuse;
}
.niveau {
  font-size: 3em;
  opacity: .4;
}

h2 {
  color:white;
  text-align: center;
}